@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 200 68% 95%;
    --foreground: 215 25% 27%;
    --card: 200 60% 99%;
    --card-foreground: 215 25% 27%;
    --popover: 200 60% 99%;
    --popover-foreground: 215 25% 27%;
    --primary: 225 73% 57%; /* Azul Rey */
    --primary-foreground: 210 40% 98%;
    --secondary: 200 60% 90%;
    --secondary-foreground: 215 25% 27%;
    --muted: 200 60% 90%;
    --muted-foreground: 215 20% 45%;
    --accent: 165 56% 74%;
    --accent-foreground: 165 50% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 40% 88%;
    --input: 200 40% 92%;
    --ring: 225 73% 57%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 73% 57%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 20% 24%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 20% 24%;
    --muted-foreground: 215 20% 65%;
    --accent: 165 56% 74%;
    --accent-foreground: 165 50% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 20% 24%;
    --input: 217 20% 24%;
    --ring: 225 73% 57%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
